.paint{
    height:600px;
    background-color: rgb(219, 219, 219);
    border: 1px solid black;
}

.menu{
    height:30px;
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}

.sub-menu{
    height: 60px;  
    display: flex;
    align-items: center ;
    justify-content: space-evenly;  
}

.canvas{
    width:100%;
    height: calc(100% - 100px);
    background-color: white;
}

.toolbox{
    width: 150px;
    height: calc(100% - 100px);
    background-color: #90d690;
    /* padding:20px; */
}

.main{
    display: flex;
    height: calc(600px - 30px)
}

i{
    font-size: 30px;
    margin: 15px;
}

.color-palette{
    display: flex;
}

.eraser{
    cursor: url('../images/eraser.png') 0 36, auto;	
}

.pencil{
    cursor: url('../images/pancil.png') 0 36, auto;	
}


.bucket{
    cursor: url('../images/bucket.png') 5 20, auto;	
}